.uzupelnijDaneFormularz
    position: absolute
    top: 50px
    left: 50%
    transform: translate(-50%)
    width: 80%
    background: #333
    border-radius: 50px
    border: 1px solid black
    text-align: center
    input
        width: 80%
        height: 50px
        background: #ddd
        border: 1px solid black
        margin: 20px 0px
        border-radius: 20px
        font-size: 1.5em
        color: #000000
        text-transform: uppercase
        padding-left: 10px
    .uzupelnijDanePrzycisk
        display: inline-block
        width: 80%
        text-align: center
        margin: 20px 0
        button
            width: 120px
            height: 60px
            background: #dddddd
            color: black
            font-size: 2em
            padding: 10px
