*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 10px

.nawigacjaStronaGlowna
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 50px
    transition: .3s linear
    z-index: 255
    .menu
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-grow: 1
        .fa-bars
            font-size: 2.5em
            padding-left: 20px
        .logo
            font-size: 2.5em
            text-transform: uppercase
            padding-left: 20px
    .nawigacjaLinki
        display: flex
        justify-content: flex-end
        flex-grow: 1
        padding-right: 50px
        a
            font-size: 2.2em
            text-decoration: none
            color: #00000073
            margin-left: 30px
            transition: .4s linear
            overflow: hidden
            &::after
                content: ""
                display: block
                width: 100%
                height: 2px
                background: #333
                position: relative
                top: 0
                left: -100%
                transition: .4s linear
            &:hover
                color: #000
            &:hover::after
                left: 0
nav.nawigacjaPrzewinieta
    background: #fff

.submenu
    display: flex
    flex-direction: column
    position: fixed
    top: 50px
    left: -100%
    background: #333
    width: 250px
    height: 100%
    transition: 1s
    z-index: 100
    &.show
        left: 0
        // color: black
    a
        display: flex
        align-items: center
        justify-content: center
        height: 50px
        text-transform: uppercase
        color: white
        font-size: 2em
.glownyDiv
    position: absolute
    top: 50px
    left: 50%
    transform: translate(-50%)
    width: 80%
    background: #eeeeee
    padding: 50px
    min-height: calc(100% - 50px)
.deleteForm
    position: relative
    display: block
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    text-align: center
.deleteButton
    position: relative
    display: block
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 150px
    padding: 10px
    color: white
    text-shadow: 1px 1px 0 #000
    font-size: 20px
    background: #ff0000
    text-transform: uppercase
    letter-spacing: 1.5px
    box-shadow: 2px 2px 10px #3c3c3c

.harmonogramTest
    width: 100%
    margin: 5px 0
    background: #333333
    color: white
    text-align: center
    .harmonogramTestSpan
        display: inline-block
        font-size: 2em
        width: 18%
        padding: 10px 0
        a
            font-size: 1em
            text-decoration: none
            color: white
.kontenerReset
    width: 80%
    min-height: calc(100vh - 50px)
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    background: #ddd
    z-index: -1
    .formularzReset
        position: relative
        top: 100px
.przyciskEmail
    min-width: 200px
    padding: 5px 10px
    margin: 10px 0
    font-size: 2.2em
    background: #114d4d
    color: white
    text-shadow: 1px 1px 1px black
    -webkit-box-shadow: 2px 2px 6px black
    box-shadow: 2px 2px 6px black
    text-align: center
    cursor: pointer

.errorContener
    position: relative
    width: 80%
    top: 0px
    left: 50%
    transform: translateX(-50%)
    background: #e04545e0
    border-radius: 20px
    padding: 10px
    color: white
    text-shadow: 1px 1px 1px black
    //z-index: 255
    font-size: 2em
    text-align: center
    margin: 50px 0 20px 0
    z-index: 2
    p
        margin: 10px 0
        font-size: 2em
    .closeError
        position: absolute
        top: 3px
        right: 40px
        width: 0
        font-size: 1.5em
        color: black
        font-family: sans-serif
        cursor: pointer
    span
        display: inline-block
        width: 100%
        margin: 5px 0
        font-size: 1em

.succesContener
    @extend .errorContener
    background: #068206

.dodajDane2
    flex-basis: 100%
    height: 50px
    background: #ececec
    border: 3px solid #a2a2a2
    border-radius: 10px
    color: #000000
    padding-left: 10px
    margin: 5px
    font-size: 2em
    transition: .5s linear
    &:focus, &:active, &:visited
        background: #a3ffa2
        border: 3px solid #14ea24
        border-radius: 10px
        outline: none
.small
    font-size: 14px
    width: 200px!important
