* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

.nawigacjaStronaGlowna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: 255;
}

.nawigacjaStronaGlowna .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nawigacjaStronaGlowna .menu .fa-bars {
  font-size: 2.5em;
  padding-left: 20px;
}

.nawigacjaStronaGlowna .menu .logo {
  font-size: 2.5em;
  text-transform: uppercase;
}

.nawigacjaStronaGlowna .nawigacjaLinki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 50px;
}

.nawigacjaStronaGlowna .nawigacjaLinki a {
  font-size: 2.2em;
  text-decoration: none;
  color: #00000073;
  margin-left: 30px;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  overflow: hidden;
}

.nawigacjaStronaGlowna .nawigacjaLinki a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: relative;
  top: 0;
  left: -100%;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.nawigacjaStronaGlowna .nawigacjaLinki a:hover {
  color: #000;
}

.nawigacjaStronaGlowna .nawigacjaLinki a:hover::after {
  left: 0;
}

nav.nawigacjaPrzewinieta {
  background: #fff;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50px;
  left: -100%;
  background: #333;
  width: 250px;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 100;
}

.submenu.show {
  left: 0;
}

.submenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
}

.glownyDiv {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  background: #eeeeee;
  padding: 50px;
}

.deleteForm {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.deleteButton {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 0 #000;
  font-size: 20px;
  background: #ff0000;
}

.harmonogramTest {
  width: 100%;
  margin: 5px 0;
  background: #333333;
  color: white;
  text-align: center;
}

.harmonogramTest .harmonogramTestSpan {
  display: inline-block;
  font-size: 2em;
  width: 18%;
  padding: 10px 0;
}

.harmonogramTest .harmonogramTestSpan a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.kontenerReset {
  width: 80%;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ddd;
}

.errorContener {
  position: relative;
  width: 80%;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e04545e0;
  border-radius: 20px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
}

.errorContener p {
  margin: 10px 0;
  font-size: 2em;
}

.errorContener span {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  font-size: 1em;
}

.kontenerRejestracja {
  height: 100vh;
  background-image: url("../img/rejestracja.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.formularzRejestracyjny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: #d6d6d6;
  border: 1px solid black;
  z-index: 1;
  border-radius: 20px;
}

.formularzRejestracyjny .naglowekRejestracja {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3.5em;
  line-height: 60px;
  color: #000000;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formularzRejestracyjny div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.formularzRejestracyjny div .inputRejestracja {
  width: 80%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-top: 5%;
  padding: 10px;
  border: none;
  background: #b1b1b1;
  border-radius: 5px;
  color: #000;
  font-size: 2em;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.formularzRejestracyjny div .inputRejestracja::-webkit-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja:-ms-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja::-ms-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja::placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja:focus {
  outline: none;
  background-color: #34bb45;
  color: #000;
}

.formularzRejestracyjny div button {
  width: 25%;
  height: 40px;
  font-size: 20px;
  background-color: #28bb28;
  border: none;
  margin-top: 10%;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: 0 0 4px 1px black;
          box-shadow: 0 0 4px 1px black;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.formularzRejestracyjny div button:focus {
  outline: none;
}

.kontenerLogowanie {
  height: 100vh;
  background-image: linear-gradient(135deg, #7bcef5, #e5f2ff);
}

.formularzLogowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background: #e2e2e2;
  border-radius: 20px;
}

.formularzLogowanie .naglowekLogowanie {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3.5em;
  line-height: 70px;
  color: #000000;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formularzLogowanie div.elementyLogowania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
}

.formularzLogowanie div.elementyLogowania .inputLogin {
  width: 80%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-top: 5%;
  padding: 10px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  color: #000;
  font-size: 2em;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.formularzLogowanie div.elementyLogowania .inputLogin::-webkit-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin:-ms-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin::-ms-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin::placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin:focus {
  outline: none;
  background-color: #34bb45;
  color: #000;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj {
  width: 80%;
  margin-top: 2%;
  position: relative;
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj span.opisZapamietaj {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-size: 2em;
  padding-left: 30px;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj input.checkboxZapamietaj {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  padding: 30px;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie button {
  width: 25%;
  height: 40px;
  font-size: 2em;
  background-color: #28bb28;
  border: none;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie button:focus {
  outline: none;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie a.przypominjHaslo {
  display: inline-block;
  width: 40%;
  height: 40px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  background-color: #0b8ce8;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  text-shadow: 1px 1px black;
}

.homeKontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeKontener span {
  display: inline-block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  padding: 10px 0;
}

.tytul {
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.daneUzytkownika {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #000;
}

.daneUzytkownika .wydarzeniaKontener {
  -ms-flex-preferred-size: 40% !important;
      flex-basis: 40% !important;
  padding: 15px;
  border: 3px solid black;
  border-radius: 20px;
  background: #c3ffb8;
}

.daneUzytkownika .informacjeUzytkownika {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  color: #000000;
  margin: 10px;
}

.daneUzytkownika .informacjeUzytkownika img {
  width: 25%;
}

.daneUzytkownika .informacjeUzytkownika .tytulInformacji {
  padding: 10px;
  font-size: 3em;
  font-weight: bold;
}

.daneUzytkownika .informacjeUzytkownika .daneInformacji {
  padding: 10px;
  font-size: 2.5em;
  color: #127705;
  font-weight: bold;
}

.daneUzytkownika .informacjeUzytkownika .daneWydarzenia {
  padding: 10px;
  font-size: 2.5em;
  color: #ff0000;
  font-weight: bold;
}

.daneUzytkownika .informacjeUzytkownika .opisWydarzenia {
  padding: 10px;
  font-size: 2em;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.kontenerDanych {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #000;
}

.kontenerDanych .doPrzyjeciaKontener {
  width: 30%;
  margin: 20px 10px;
  padding: 10px;
  background: #99ffff;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
}

.kontenerDanych .doPrzyjeciaKontener .nazwaLeku, .kontenerDanych .doPrzyjeciaKontener .godzinaLeku {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.kontenerDanych .doPrzyjeciaKontener .nazwaLeku {
  font-size: 2.5em;
}

.kontenerDanych .doPrzyjeciaKontener .godzinaLeku {
  font-size: 2em;
}

.kontenerDanych .doPrzyjeciaKontener .czyLek {
  width: 80%;
  font-size: 2.5em;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.kontenerDanych .doPrzyjeciaKontener .blueButton {
  background: #0066ff;
  width: 80%;
  cursor: pointer;
}

.kontenerDanych .doPrzyjeciaKontener img {
  width: 25%;
}

.uzupelnijDaneFormularz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  background: #ffffff;
  border-radius: 20px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px 0;
}

.uzupelnijDaneFormularz .opisPozycji {
  display: inline-block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #000000;
  font-weight: bold;
  font-size: 2.5em;
  margin: 2px 0px;
  padding: 0 0 0 10px;
}

.uzupelnijDaneFormularz .dodajDane {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 50px;
  background: #ececec;
  border: 3px solid #a2a2a2;
  border-radius: 10px;
  color: #000000;
  padding-left: 10px;
  margin: 5px;
  font-size: 2em;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.uzupelnijDaneFormularz .dodajDane:focus, .uzupelnijDaneFormularz .dodajDane:active, .uzupelnijDaneFormularz .dodajDane:visited {
  background: #a3ffa2;
  border: 3px solid #14ea24;
  border-radius: 10px;
  outline: none;
}

.uzupelnijDaneFormularz .checkbox {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.uzupelnijDaneFormularz .politykaOpis {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 2em;
  margin: 10px 0;
  font-weight: bold;
}

.uzupelnijDaneFormularz .politykaOpis .politykaLink {
  font-size: 1em;
  text-decoration: none;
  color: #2700ff;
  font-weight: bold;
}

.uzupelnijDaneFormularz .politykaOpis .politykaLink:visited {
  color: #30a71b;
}

.uzupelnijDaneFormularz .uzupelnijDanePrzycisk {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin: 20px 0;
}

.uzupelnijDaneFormularz .uzupelnijDanePrzycisk button {
  width: 120px;
  height: 60px;
  background: #dddddd;
  color: black;
  font-size: 2em;
  padding: 10px;
}

.kontenerInformacji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  text-align: center;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 30px #000000;
          box-shadow: 6px 6px 30px #000000;
  padding: 10px;
}

.kontenerInformacji .daneOsobowe {
  position: relative;
  width: 40%;
  padding: 10px;
}

.kontenerInformacji .daneOsobowe span {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 2em;
  color: #000000;
  padding: 5px;
}

.kontenerInformacji .daneOsobowe span:nth-of-type(2) {
  font-size: 2.5em;
  font-weight: bold;
}

.kontenerInformacji .daneOsobowe img {
  width: 15%;
}

.update {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 15px 0;
  background: #00ff00;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 80%;
  text-decoration: none;
}

.dodajDaneKontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
  -webkit-box-shadow: 6px 6px 30px #000000;
          box-shadow: 6px 6px 30px #000000;
  margin: 40px 0;
  padding: 10px;
  border-radius: 20px;
}

.dodajDaneKontener .dodaneDaneKontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border: 5px dotted #000000;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}

.dodajDaneKontener .dodaneDaneKontener .dodaneDane {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.dodajDaneKontener .dodaneDaneKontener .dodaneDane span {
  font-size: 1em;
  font-weight: bold;
}

.dodajDaneKontener form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  padding: 10px;
  border: 5px dotted #000000;
  border-radius: 10px;
}

.dodajDaneKontener form .opisPozycji {
  display: inline-block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #000000;
  font-weight: bold;
  font-size: 2.5em;
  margin: 2px 0px;
  padding: 0 0 0 10px;
}

.dodajDaneKontener form .dodajDane {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  height: 50px;
  background: #ececec;
  border: 3px solid #a2a2a2;
  border-radius: 10px;
  color: #000000;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 2em;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.dodajDaneKontener form .dodajDane:focus, .dodajDaneKontener form .dodajDane:active, .dodajDaneKontener form .dodajDane:visited {
  background: #a3ffa2;
  border: 3px solid #14ea24;
  border-radius: 10px;
  outline: none;
}

.dodajDaneKontener .tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #333333;
  width: 40%;
  margin-top: 50px;
  color: #ffffff;
}

.dodajDaneKontener .tablica .wiersz {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.dodajDaneKontener .tablica .wiersz2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.dodajDaneKontener .tablica .wiersz3 {
  -ms-flex-preferred-size: calc( 100% / 8 - 10px);
      flex-basis: calc( 100% / 8 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}

.confirmPopupBox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  min-height: 500px;
  background: #dddddd;
  z-index: 300;
  text-align: center;
  display: none;
  border-radius: 20px;
}

.confirmPopupBox .popupInformacjeBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 80;
  right: 100;
  width: 100%;
  overflow: hidden;
}

.confirmPopupBox .popupInformacjeBox .sprawdzDane {
  font-size: 3em;
  display: inline-block;
  width: 100%;
  color: black;
  padding: 10px 0;
}

.confirmPopupBox .popupInformacjeBox .danaDoPotwierdzenia {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  color: black;
  padding: 10px 0;
}

.confirmPopupBox .popupInformacjeBox .alertText {
  font-size: 1em;
  color: #f31111;
  text-decoration: underline;
}

.confirmPopupBox .potwierdzDane {
  position: absolute;
  bottom: 20px;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 2em;
  background: #147e22;
}

.confirmPopupBox .zmienDane {
  position: absolute;
  bottom: 20px;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 2em;
  background: #c43131;
}

div.openConfirm {
  position: relative;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 250px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 2em;
  background: #114d4d;
  color: white;
  text-shaodw: 1px 1px 0 0 black;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 290;
  display: none;
}

.tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  width: 80%;
  margin-top: 50px;
  color: #ffffff;
}

.tablica .wiersz {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz3 {
  -ms-flex-preferred-size: calc( 100% / 8 - 10px);
      flex-basis: calc( 100% / 8 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}

.tablica .wiersz4 {
  -ms-flex-preferred-size: calc( 100% / 5 - 10px);
      flex-basis: calc( 100% / 5 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}

.lekKontener {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 6px 6px 30px #000000;
          box-shadow: 6px 6px 30px #000000;
  width: 70%;
  border-radius: 20px;
  padding: 20px;
}

.lekKontener .kontenerOpisu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.lekKontener .kontenerOpisu .fotoWielkosc {
  width: 15%;
}

.lekKontener .kontenerOpisu .nazwa {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  padding: 20px;
}

.lekKontener .kontenerOpisu .opis {
  width: 80%;
  text-align: center;
  font-size: 2.5em;
  padding: 10px;
}

.lekKontener .kontenerOpisu.wielkosc2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.lekKontener .kontenerOpisu.wielkosc2 .fotoWielkosc2 {
  width: 30%;
  margin: 10px;
}

.lekKontener .kontenerOpisu.wielkosc2 span:nth-of-type(1) {
  font-size: 2.5em;
  padding: 5px;
}

.lekKontener .kontenerOpisu.wielkosc2 span:nth-of-type(2) {
  padding: 5px;
  font-size: 2.5em;
  font-weight: bold;
}

#leki_wrapper {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #000000;
  background: #ffffff;
  font-size: 2em;
}

#leki_length label {
  font-size: 20px;
}

#leki_length label select {
  padding: 6px;
  background: #ececec;
  color: black;
  font-size: 15px;
}

#leki_length label select option {
  font-size: 13px;
}

#leki_filter label {
  font-size: 20px;
}

#leki_filter label input {
  background: #ececec;
  border: 3px solid #a2a2a2;
  border-radius: 10px;
  color: #000000;
  padding-left: 10px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  font-size: 18px;
}

#leki_filter label input:focus, #leki_filter label input:active, #leki_filter label input:visited {
  background: #a3ffa2;
  border: 3px solid #14ea24;
  border-radius: 10px;
  outline: none;
}

#leki {
  padding: 10px;
}

#leki thead, #leki tfoot {
  background: #909090;
}

#leki thead tr th, #leki tfoot tr th {
  font-size: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50% !important;
}

#leki tbody tr {
  text-align: center;
}

#leki tbody tr.odd td {
  background: #dedcdc;
}

#leki tbody tr.even td {
  background: #afafaf;
}

#leki tbody tr td {
  font-size: 20px;
  padding: 10px;
}

#leki tbody tr td:hover {
  background: #93ffb4;
}

#leki tbody tr td a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background: #6698cb;
  padding: 5px 20px;
  -webkit-box-shadow: 2px 2px 6px #1c3e61;
          box-shadow: 2px 2px 6px #1c3e61;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1.5px;
}

#leki_info {
  font-size: 20px;
}

#leki_paginate a {
  font-size: 16px;
}

#leki_paginate span a {
  background: #ececec;
  border: 3px solid #a2a2a2;
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  padding: 5px 10px;
}

.tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  width: 80%;
  margin-top: 50px;
  color: #000000;
  -webkit-box-shadow: 6px 6px 30px #000000;
          box-shadow: 6px 6px 30px #000000;
  border-radius: 20px;
}

.tablica div {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 10px;
}

.tablica .naglowek {
  font-size: 2.7em;
  background: #295fb1;
}

.tablica .wiersz {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  font-size: 2.5em;
  background: #97bbf1;
}

.brakPomiarow {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-bottom: 4px solid #000000;
  margin: 20px 0;
  padding: 10px;
}

#chartdiv {
  width: 100%;
  height: 600px;
}

#chartdiv2 {
  width: 100%;
  height: 600px;
}

.amcharts-amexport-menu.amcharts-amexport-menu-level-0 {
  left: 50px !important;
}

.amcharts-amexport-label.amcharts-amexport-label-level-1 {
  font-size: 18px !important;
  padding: 8px 10px !important;
}

.amcharts-amexport-item.amcharts-amexport-item-level-0 {
  width: 80px !important;
}

.amcharts-amexport-label-level-0 {
  font-size: 20px;
}

tspan {
  font-size: 17px !important;
}
/*# sourceMappingURL=style.css.map */