* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

.nawigacjaStronaGlowna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: 255;
}

.nawigacjaStronaGlowna .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nawigacjaStronaGlowna .menu .fa-bars {
  font-size: 2.5em;
  padding-left: 20px;
}

.nawigacjaStronaGlowna .menu .logo {
  font-size: 2.5em;
  text-transform: uppercase;
}

.nawigacjaStronaGlowna .nawigacjaLinki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 50px;
}

.nawigacjaStronaGlowna .nawigacjaLinki a {
  font-size: 2.2em;
  text-decoration: none;
  color: #00000073;
  margin-left: 30px;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  overflow: hidden;
}

.nawigacjaStronaGlowna .nawigacjaLinki a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: relative;
  top: 0;
  left: -100%;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.nawigacjaStronaGlowna .nawigacjaLinki a:hover {
  color: #000;
}

.nawigacjaStronaGlowna .nawigacjaLinki a:hover::after {
  left: 0;
}

nav.nawigacjaPrzewinieta {
  background: #fff;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50px;
  left: -100%;
  background: #333;
  width: 250px;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 100;
}

.submenu.show {
  left: 0;
}

.submenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
}

.glownyDiv {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  background: #eeeeee;
  padding: 50px;
}

.deleteForm {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.deleteButton {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 0 #000;
  font-size: 20px;
  background: #ff0000;
}

.kontenerRejestracja {
  height: 100vh;
  background-image: url("../img/rejestracja.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.formularzRejestracyjny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: #d6d6d6;
  border: 1px solid black;
  z-index: 1;
  border-radius: 20px;
}

.formularzRejestracyjny .naglowekRejestracja {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3.5em;
  line-height: 60px;
  color: #000000;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formularzRejestracyjny div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.formularzRejestracyjny div .inputRejestracja {
  width: 80%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-top: 5%;
  padding: 10px;
  border: none;
  background: #b1b1b1;
  border-radius: 5px;
  color: #000;
  font-size: 2em;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.formularzRejestracyjny div .inputRejestracja::-webkit-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja:-ms-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja::-ms-input-placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja::placeholder {
  color: #00000070;
}

.formularzRejestracyjny div .inputRejestracja:focus {
  outline: none;
  background-color: #34bb45;
  color: #000;
}

.formularzRejestracyjny div button {
  width: 25%;
  height: 40px;
  font-size: 20px;
  background-color: #28bb28;
  border: none;
  margin-top: 10%;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: 0 0 4px 1px black;
          box-shadow: 0 0 4px 1px black;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.formularzRejestracyjny div button:focus {
  outline: none;
}

.kontenerLogowanie {
  height: 100vh;
  background-image: linear-gradient(135deg, #7bcef5, #e5f2ff);
}

.formularzLogowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background: #e2e2e2;
  border-radius: 20px;
}

.formularzLogowanie .naglowekLogowanie {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3.5em;
  line-height: 70px;
  color: #000000;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formularzLogowanie div.elementyLogowania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
}

.formularzLogowanie div.elementyLogowania .inputLogin {
  width: 80%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-top: 5%;
  padding: 10px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  color: #000;
  font-size: 2em;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.formularzLogowanie div.elementyLogowania .inputLogin::-webkit-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin:-ms-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin::-ms-input-placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin::placeholder {
  color: #00000070;
}

.formularzLogowanie div.elementyLogowania .inputLogin:focus {
  outline: none;
  background-color: #34bb45;
  color: #000;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj {
  width: 80%;
  margin-top: 2%;
  position: relative;
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj span.opisZapamietaj {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-size: 2em;
  padding-left: 30px;
}

.formularzLogowanie div.elementyLogowania div.kontenerZapamietaj input.checkboxZapamietaj {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  padding: 30px;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie button {
  width: 25%;
  height: 40px;
  font-size: 2em;
  background-color: #28bb28;
  border: none;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie button:focus {
  outline: none;
}

.formularzLogowanie div.elementyLogowania div.przyciskiLogowanie a.przypominjHaslo {
  display: inline-block;
  width: 40%;
  height: 40px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  background-color: #0b8ce8;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  text-shadow: 1px 1px black;
}

.homeKontener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeKontener span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  padding: 10px 0;
}

.uzupelnijDaneFormularz {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  background: #333;
  border-radius: 50px;
  border: 1px solid black;
  text-align: center;
  margin: 20px 0;
}

.uzupelnijDaneFormularz input, .uzupelnijDaneFormularz select, .uzupelnijDaneFormularz option {
  width: 80%;
  height: 50px;
  background: #ddd;
  border: 1px solid black;
  margin: 20px 0px;
  border-radius: 20px;
  font-size: 1.5em;
  color: #000000;
  text-transform: uppercase;
  padding-left: 10px;
}

.uzupelnijDaneFormularz .uzupelnijDanePrzycisk {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin: 20px 0;
}

.uzupelnijDaneFormularz .uzupelnijDanePrzycisk button {
  width: 120px;
  height: 60px;
  background: #dddddd;
  color: black;
  font-size: 2em;
  padding: 10px;
}

.kontenerInformacji {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  text-align: center;
  margin-top: 30px;
  background-color: #333;
  border-radius: 20px;
}

.kontenerInformacji span {
  position: relative;
  display: inline-block;
  width: 80%;
  font-size: 25px;
  color: #ffffff;
  padding: 10px;
}

.update {
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 15px 0;
  background: #00ff00;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 80%;
  text-decoration: none;
}

.tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  width: 80%;
  margin-top: 50px;
  color: #ffffff;
}

.tablica .wiersz {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  width: 80%;
  margin-top: 50px;
  color: #ffffff;
}

.tablica .wiersz {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz3 {
  -ms-flex-preferred-size: calc( 100% / 8 - 10px);
      flex-basis: calc( 100% / 8 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}

.tablica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  width: 80%;
  margin-top: 50px;
  color: #ffffff;
}

.tablica .wiersz {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  margin: 10px 0;
  background: #666666;
}

.tablica .wiersz3 {
  -ms-flex-preferred-size: calc( 100% / 8 - 10px);
      flex-basis: calc( 100% / 8 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}

.tablica .wiersz4 {
  -ms-flex-preferred-size: calc( 100% / 5 - 10px);
      flex-basis: calc( 100% / 5 - 10px);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 5px;
  background: #666666;
}
/*# sourceMappingURL=style.css.map */